* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #fdf158;
    height: 56px;
    font-size: 2rem;
}

main {
    flex-grow: 1;
    display: flex;
}

main, .sideMenu, .mainContent {
    overflow-y: scroll;
}

.sideMenu{
    width: 240px;
    background-color: #e6ffff;
    color: #121231;
    flex-shrink: 0;
}

.mainContent {
    background-color: #4545b2;
    color: #e6ffff;
    flex-grow: 1;
}