* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #0f0f0f;
    height: 56px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    padding: 0 .5rem;
}

.menuBtnLogo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.menuBtnLogo div{
    height: 20px;
}

main {
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.sideMenu, .mainContent {
    overflow-y: scroll;
}

.sideMenu{
    width: 240px;
    background-color: #e6ffff;
    color: #121231;
    flex-shrink: 0;
}

.mainContent {
    background-color: #4545b2;
    color: #e6ffff;
    flex-grow: 1;
}

.settings {
    background-color: #0f0f0f;
    color: white;
    border: none;
}

.signIn {
    background-color: transparent;
    color: #3ea6ff;
    border-radius: 20px;
    padding: .5rem;
    font-weight: bold;
    border: 1px solid darkgrey;
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    text-transform: capitalize;
}

    .signIn:hover {
        background-color: #263850;
        border-color: transparent;
        cursor: pointer;
    }

    .settingsSignIn {
        display: flex;
        gap: .5rem;
    }